<div style="margin-top: 60px;">
    <div class="w3-container">
        <h2>Registro de actividad</h2>
        <hr>
        <form [formGroup]="ActiviadDiaria">
            <div class="row">
                <div class="col  col-form-label">
                    Cantidad de material recolectada
                </div>
                <div class="col  ">
                    <input type="number" formControlName="fltCantidad" min="0.01" max="9999" >
                </div>
                <div class="col  ">
                    <mat-form-field appearance="fill">
                      <mat-label>Unidad de medida del material recolectado</mat-label>
                      <mat-select formControlName="frmunidadMedida" name="unidad">
                        <mat-option *ngFor="let unidad of lstUnidadMedida" [value]="unidad.valor">
                          {{unidad.valorVista}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                </div>
                <div class="col  col-form-label">
                    Material recolectado
                </div>
                <div class="col  ">
                    <input type=" text" formControlName="materialRecolectado">
                </div>
                <div class="col  col-form-label">
                    Fecha de recoleccion

                </div>
                <div class="col ">

                   <input type="date" formControlName="dtmFechaRecoleccion">
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-3 ">
                    </div>
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-success float-end" (click)="insertarRegistro()">
                            Guardar
                        </button>
            
                    </div>
                </div>
            </div>
        </form>
    </div>
    <br>
    <div class="container">
        <div class="row">

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" *ngIf="dataSource.length>0">
                <!-- Onzas Column -->
                <ng-container matColumnDef="Cantidad">
                    <th mat-header-cell *matHeaderCellDef>Cantidad</th>
                    <td mat-cell *matCellDef="let element">{{element.fltCantidad}}</td>
                </ng-container>

                <!-- Cantidad Column -->
                <ng-container matColumnDef="Unidad Medida">
                    <th mat-header-cell *matHeaderCellDef>Unidad Medida</th>
                    <td mat-cell *matCellDef="let element">{{element.unidadMedida}}</td>
                </ng-container>

                <!-- Material Column -->
                <ng-container matColumnDef="Material">
                    <th mat-header-cell *matHeaderCellDef>Material</th>
                    <td mat-cell *matCellDef="let element">{{element.materialRecolectado  | titlecase }}</td>
                </ng-container>

                <!-- Fecha Column -->
                <ng-container matColumnDef="Fecha">
                    <th mat-header-cell *matHeaderCellDef>Fecha</th>
                    <td mat-cell *matCellDef="let element">{{element.dtmFechaRecoleccion}}</td>
                </ng-container>
                <!-- Boton borrar -->
                <ng-container matColumnDef="Eliminar registro">
                    <th mat-header-cell *matHeaderCellDef>Eliminar registro</th>
                    <td mat-cell *matCellDef="let element">
                    <button class="btn btn-warning form-control" (click)="eliminarRegistro(element.intIdRegistroMinero)">
                        Eliminar 
                    </button></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>


    </div>
</div>